<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="directory" value="Input directories to listen to here (semi-colon separated if more than one). Format example: C:/Downloads."/>
  </appSettings>
</configuration>